{% extends 'layout.html' %}
{% block title %}Chat{% endblock %}
{% block content %}

<div class="container py-5 size_body">

    <div class="row">
        <div class="col-md-12">

            <div class="card position-relative shadow-lg" id="chat3" style="border-radius: 15px; height: 70vh;">
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">

                            <div class="p-4">
                                <div class="input-group text-center rounded mb-1">
                                    <input id="input_chat_botton" type="button" class="text-center border-0 botton_new text-uppercase d-flex inline-block" value="New Chat" onclick="create_new_chat()"/>
                                </div>
                                <div data-mdb-perfect-scrollbar="true"
                                     style="position: relative;  height: 54.7vh; overflow-y: auto;">
                                    <ul id="new_chat" class="list-unstyled mb-0">

                                    </ul>
                                </div>

                            </div>

                        </div>

                        <div class="col-md-6 col-lg-7 col-xl-8">
                            <div id="chat" class="pt-3 pe-3" data-mdb-perfect-scrollbar="true"
                                 style="position: relative; height: 57vh; overflow-y: auto;">
                                <div class="d-flex flex-row justify-content-start">
                                    <img src={{url_for('static', filename='image/png/pepper.png')}}
                                         alt="avatar="1" style="width: 45px; height: 100%;">
                                    <div>
                                        <p class="small p-2 ms-3 mb-1 rounded-3"
                                           style="background-color: #f5f6f7;">
                                            Sono un assistente virtuale dedicato alla sintesi testuale. Il mio obiettivo principale è aiutarti a ottenere sintesi di testi in modo rapido ed efficiente.
                                            inviami il resto da sintetizzare.
                                        </p>
                                        <p class="small ms-3 mb-3 rounded-3 text-muted float-end">12:00 PM | Aug
                                            13</p>
                                    </div>
                                </div>

                                <div class="d-flex flex-row justify-content-end">
                                    <div>
                                        <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Ut enim
                                            ad minim veniam,
                                            quis
                                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat.</p>
                                        <p class="small me-3 mb-3 rounded-3 text-muted">12:00 PM | Aug 13</p>
                                    </div>
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                         alt="avatar 1" style="width: 45px; height: 100%;">
                                </div>




                            </div>

                            <div class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2">
                                <input type="text" class="form-control form-control-lg"
                                       id="exampleFormControlInput2"
                                       placeholder="Inserisci il testo da sintetizzare">
                                <a onclick="send_message_text()" class="ms-3" ><i class="fas fa-paper-plane chat_botton_send "></i></a>
                                <a onclick="send_message_text()" class="ms-3" ><i class="fas fa-refresh chat_botton_send"></i></a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}