<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}I Segreti della memoria{% endblock %}</title>
     <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
     <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"/>
</head>
<body>
    <header>
        {% include 'macros/navbar.html' %}
    </header>
        <main>
            <div class="container">
                <div id="row ">
                    {% block content %}
                         {% include 'home.html' %}
                    {% endblock %}
                </div>
            </div>
        </main>
        {% include 'macros/footer.html' %}
    <footer>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/perfect-scrollbar@1.5.0/js/perfect-scrollbar.min.js"></script>
    <script src="{{ url_for('static', filename='js/validation_form.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>

</body>
<noscript>
    <style>
        .errorContainer {
            background-color: #FFF;
            color: #0F1419;
            max-width: 1000px;
            margin: 0 auto;
            padding: 10%;
            font-size: 16px;
        }

        html, body {
            background-color: #FFF !important;
            height: 100%
        }

        #main-content {
            display: none;
        }
    </style>
    <div class="errorContainer">
        <img alt="" width="156" height="65" data-sticky-width="115" data-sticky-height="48" data-sticky-top="33"
             src="{{ url_for('static', filename='image/png/Logo.png') }}">
        <h1>JavaScript non è disponibile.</h1>
        <p>JavaScript è disabilitato nel browser. Per continuare a utilizzare Segreti della memoria, abilita JavaScript o passa a
            un browser supportato.</p>
    </div>
</noscript>
</html>